
body {
    padding:0;
    margin:0;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
}

.font_josefin {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
}


.bck_black {
    background: #3c3c3c;
}

.bck_white {
    background: #ffffff;
}

.iconImage {
    width: 20px;
    margin-right: 20px;
}

.center_wrapper {
    width: 900px;
    margin:0 auto;
}

@media screen and (max-width: 600px) {
  .center_wrapper {
    width: auto;
  }
}
@media screen and (max-width: 768px) {
  .center_wrapper {
    width: auto;
    margin: 0px 0px;
  }
  .scroll {
    display: none;
 }

}

/*====================
        HEADER
======================*/


header {
    padding:10px 0px;
    transition: all 300ms ease-in;
    width: auto;
}

header .header_logo {
    flex-grow: 1;
}
header .header_logo_venue {
    font-size: 40px;
}

header .header_logo_title {
    text-transform: uppercase;
}

/*====================
        FOOTER
======================*/

footer {
    padding:10px 0px;
    text-align: center;
    font-size: 24px;
    color:#3c3c3c;
}

footer .footer_copyright {
    font-size: 14px;
}

/*====================
        CARROUSEL
======================*/


.carrousel_wrapper {
    height:700px;
    overflow: hidden;
}

.carrousel_image {
    background-size: cover !important;
}
.carrousel_image1 {
    background-size: cover !important;
    background-image: url(../ressources/images/slide_two.jpg);
}

.carrousel_image2 {
    background-size: cover !important;
    background-image: url(../ressources/images/slide_three.jpg);
}

.carrousel_image3 {
    background-size: cover !important;
    background-image: url(../ressources/images/slide_five.jpg);
}

.carrousel_image4 {
    background-size: cover !important;
    background-image: url(../ressources/images/slide_eight.jpg);
}

.carrousel_image5 {
    background-size: cover !important;
    background-image: url(../ressources/images/slide_nine.jpg);
}

/* default screen, non-retina */
@media only screen and (max-width: 537px) {
    /* Small screen, non-retina */
    .carrousel_image1 {
       background-image: url(../ressources/images/slide_two_xs.jpg);
    }
    .carrousel_image3 {
        background-size: cover !important;
        background-image: url(../ressources/images/slide_five_xs.jpg);
    }
    .carrousel_image4 {
        background-size: cover !important;
        background-image: url(../ressources/images/slide_eight_xs.jpg);
    }
    .carrousel_image5 {
        background-size: cover !important;
        background-image: url(../ressources/images/slide_nine_xs.jpg);
    }
}

@media only screen and (min-width: 538px) and (max-width: 969px) {
    /* Medium screen, non-retina */
    .carrousel_image1 {
       background-image: url(../ressources/images/slide_two_sm.jpg);
    }
    .carrousel_image3 {
        background-size: cover !important;
        background-image: url(../ressources/images/slide_five_sm.jpg);
    }
    .carrousel_image4 {
        background-size: cover !important;
        background-image: url(../ressources/images/slide_eight_sm.jpg);
    }
      .carrousel_image5 {
          background-size: cover !important;
          background-image: url(../ressources/images/slide_nine_sm.jpg);
  }
  }

@media
only screen and (min-width: 970px) and (max-width: 1439px){
    /* Large screen, retina */
    .carrousel_image1 {
       background-image: url(../ressources/images/slide_two_lg.jpg);
    }
    .carrousel_image3 {
        background-size: cover !important;
        background-image: url(../ressources/images/slide_five_lg.jpg);
    }
    .carrousel_image4 {
        background-size: cover !important;
        background-image: url(../ressources/images/slide_eight_lg.jpg);
    }
    .carrousel_image5 {
        background-size: cover !important;
        background-image: url(../ressources/images/slide_nine_lg.jpg);
    }

}
@media
only screen and (min-width: 1440px){
    /* Large screen, retina */
    .carrousel_image1 {
       background-image: url(../ressources/images/slide_two_xl.jpg);
    }
    .carrousel_image3 {
        background-size: cover !important;
        background-image: url(../ressources/images/slide_five_xl.jpg);
    }
    .carrousel_image4 {
        background-size: cover !important;
        background-image: url(../ressources/images/slide_eight_xl.jpg);
    }
    .carrousel_image5 {
        background-size: cover !important;
        background-image: url(../ressources/images/slide_nine_xl.jpg);
    }

}
/*====================
        COUNTDOWN
======================*/

.countdown_wrapper {
    position:absolute;
    bottom: 0px;
    color:#ffffff;
    width: auto;
}

.countdown_wrapper .countdown_top {
    background: "transparent";
    font-size: 30px;
    padding: 10px;
    display: inline-block;
    text-transform: uppercase;
}

.countdown_wrapper .countdown_bottom {
    display: flex;
    background: "transparent";
    padding: 10px 20px;
}

.countdown_wrapper .countdown_time {
    font-size: 70px;
    border-right: 1px solid #ffffff;
    margin-right: 14px;
    padding-right: 49px;
}
.countdown_wrapper .countdown_item:last-child .countdown_time{
    border:none;
}

.countdown_wrapper .countdown_tag {
    text-transform: uppercase;
    font-size: 20px;
    padding-left: 7px;
}

@media screen and (max-width: 600px){
  .countdown_wrapper .countdown_top {
      font-size: 24px;
  }
  .countdown_wrapper .countdown_time {
      font-size: 30px;
      border-right: 1px solid #ffffff;
      margin-right: 10px;
      padding-right: 20px;
  }
}

/*====================
        VENUE NFO
======================*/

.vn_wrapper {
    padding: 50px 0px 280px 0px;
    display: flex;
    justify-content: center;
}

.vn_item {
    color:#ffffff;
    text-align: justify;
}

.card_content {
   display: 'flex';
   color: '#F4A261';
   padding-top: 20;
   padding-bottom: 20
}

.vn_item .vn_outer {
    width: 100%;
    display: flex;

}
@media screen and (max-width: 768px){
  .vn_wrapper {
      padding: 40px 0px 280px 0px;
      display: flex;
    }

  .vn_item .vn_outer {
      width: 100%;

  }
}
@media only screen and (max-width: 600px){
  .vn_wrapper {
    padding: 20px 0px 280px 0px;
    display: flex;
  }
  .vn_item .vn_outer {
      width: 100%;

  }
}

/*====================
        PANELS
====================*/

*, *:before, *:after {
  box-sizing: inherit;
}

.panels {
  min-height: 100vh;
  overflow: hidden;
  display: flex;

}

.panel {
  background: #6B0F9C;
  box-shadow: inset 0 0 0 5px rgba(255,255,255,0.1);
  color: white;
  text-align: center;
  align-items: center;
  /* Safari transitionend event.propertyName === flex */
  /* Chrome + FF transitionend event.propertyName === flex-grow */
  transition:
    font-size 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
    flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
    background 0.2s;
  font-size: 12px;
  background-size: cover;
  background-position: center;
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.panel1 { background-image:url(../ressources/images/room.jpg); }
.panel2 { background-image:url(../ressources/images/lobby.jpg); }
.panel3 { background-image:url(../ressources/images/hotelOutside.jpg); }
.panel4 { background-image:url(../ressources/images/terasse.jpg); }
.panel5 { background-image:url(../ressources/images/lobbyNight.jpg); }

/* Flex items */
.panel > * {
  margin: 0;
  width: 100%;
  transition: transform 0.5s;
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.panel > *:first-child {
  transform: translateY(-100%);
}
.panel.open-active > *:first-child {
  transform: translateY(0);
}
.panel > *:last-child {
  transform: translateY(100%);
}
.panel.open-active > *:last-child {
  transform: translateY(0);
}

.panel p {
  text-transform: uppercase;
  font-family: 'Amatic SC', cursive;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
  font-size: 2em;
}

.panel p:nth-child(2) {
  font-size: 3em;
}

.panel.open {
  font-size: 20px;
  flex: 5;
}

@media screen and (max-width: 768px){
  .panels {
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: #eee;
  }
  .panel {
    margin-bottom:  5px
  }
  .panel p {
    display: none;
  }
}
/*====================
        HIGHLIGHTS
======================*/


.highlight_wrapper h2 {
    text-align: center;
    text-transform: uppercase;
    color:#2c2c2c;
    font-size: 48px;
}

.highlight_wrapper .highlight_description {
    line-height: 30px;
    font-size: 24px;
    padding: 30px;
}

.discount_wrapper {
    display: flex;
    padding: 70px 30px;
    ;
}

.discount_wrapper .discount_porcentage {
    padding-right: 50px;
}

.discount_wrapper .discount_porcentage span:nth-child(1) {
    color: #ff4800;
    font-size: 125px;
    font-weight: 400;
    display: block;
    line-height: 120px;
}

.discount_wrapper .discount_porcentage span:nth-child(2) {
    color: #2c2c2c;
    font-size: 50px;
    font-weight: 400;
    display: block;
}


.discount_wrapper .discount_description h3 {
    font-size: 38px;
    font-weight: 400;
    margin: 0px;
    color: #2c2c2c;
}

.discount_wrapper .discount_description p {
    line-height: 40px;
    font-size: 24px;
}


@media screen and (max-width: 768px){
  .highlight_wrapper .highlight_description {
      font-size: 20px;
      padding: 30px;
      text-align: justify;
  }
  .discount_wrapper {
    flex-direction: column;
    padding: 30px;
    text-align: center;

  }
  .discount_wrapper .discount_description h3 {
      font-size: 28px;
      font-weight: 400;
      padding: 10px;
      text-align: center;
  }
  .discount_wrapper .discount_description p {
      line-height: 30px;
      font-size: 20px;
      text-align: justify;
      text-justify: inter-word;
  }
  .discount_wrapper .discount_porcentage {
    padding: 0px;
    text-align: center;
  }
  .discount_wrapper .discount_porcentage span:nth-child(1) {
      font-size: 80px;
  }
}
@media screen and (max-width: 600px){
  .highlight_wrapper .highlight_description {
      font-size: 18px;
      padding: 30px;
  }
}
/*====================
        PRICING
======================*/

.pricing_section {
    padding: 70px 0px;
}
.pricing_section h2 {
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    font-size: 50px;
    margin: 0;
    padding-bottom: 30px
}

.pricing_wrapper {
    display: flex;
    flex-wrap: wrap;
}
.pricing_wrapper .pricing_item{
    flex-grow: 1;
    width: 33%;
    padding: 20px;
    box-sizing: border-box;
}

.pricing_wrapper .pricing_inner_wrapper {
    border:2px solid #ffa800;
    padding: 50px 20px;
    background-color: #F0F4C3;
}

.pricing_inner_wrapper .pricing_title {
    color: #3c3c3c;
    text-align: center;
    border-bottom: 1px solid #ffa800;
    padding-bottom: 20px;
}
.pricing_inner_wrapper .pricing_title span:nth-child(1) {
    font-size: 50px;
    display: block;
}
.pricing_inner_wrapper .pricing_title span:nth-child(2) {
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 300;
}
.pricing_inner_wrapper .pricing_description {
    color: #3c3c3c;
    font-size: 18px;
    text-align: justify;
    text-justify: inter-word;
    padding: 20px 0px;
    min-height: 70px;
}

.pricing_inner_wrapper .pricing_buttons {
     text-align: center;
}

@media screen and (max-width: 600px){
  .pricing_wrapper {
      display: flex;
      flex-direction: column;
  }
  .pricing_section h2 {
      font-size: 28px;

  }
  .pricing_wrapper .pricing_item{
      flex-grow: 1;
      width: 100%;
      padding: 20px;
      box-sizing: border-box;
  }
  .pricing_inner_wrapper .pricing_description {
      font-size: 18px;
  }
}

/*====================
        LOCATION
======================*/

.location_wrapper {
    position:relative;
}

.location_tag {
    position: absolute;
    bottom: 0px;
    width: 100%;
}
.location_tag div{
    background: #3c3c3c;
    color: #ffffff;
    text-transform: uppercase;
    width: 220px;
    margin: 0 auto;
    font-size: 29px;
    padding: 15px 20px;
    text-align: center;
}
